<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        #register,
        #login {
            background-color: rgb(206, 206, 206);
            /* display: inline-block; */
        }

        .hidden {
            display: none;
        }
    </style>
    mainpage

    <button onclick="toggleRegister()">register</button>
    <button onclick="toggleLogin()">login</button>
    <button onclick="togglePost()">posting</button>
    <button onclick="toggleComment()">commenting</button>
    <button onclick="posts()">posts</button>
    <button onclick="onePost(1)">post1</button>
    <button onclick="changeLike('post',1,0, 1)">like</button>
    <button onclick="changeLike('post',1,0,-1)">dislike</button>
    <button onclick="changeLike('comment',1,1, 1)">likeComment</button>
    <button onclick="changeLike('comment',1,1,-1)">dislikeComment</button>
    <br>
    <br>
    <br>

    <!-- register -->
    <div id="registerDiv" class="hidden">
        <label for="username">Username</label>
        <input placeholder="Enter Username" id="username" required type="text">
        <br>
        <label for="age">Age</label>
        <input type="number" id="age" required placeholder="Age">
        <br>
        <label for="gender">gender</label>
        <input placeholder="Enter gender" id="gender" required type="text">
        <br>
        <label for="firstName">first name</label>
        <input placeholder="Enter first name" id="firstName" required type="text">
        <br>
        <label for="lastName">last name</label>
        <input placeholder="Enter last name" id="lastName" required type="text">
        <br>
        <label for="email">e-mail</label>
        <input placeholder="Enter E-mail" id="email" required type="text">
        <br>
        <label for="password">password</label>
        <input type="text" id="password" placeholder="Password" required>
        <br>
        <button type="button" onclick="registerUser()">register</button>
        <p id="registerMessage"></p>
    </div>


    <!-- Login -->
    <div id="loginDiv" class="hidden">
        <label for="user">username/email</label>
        <input type="text" id="user" required placeholder="username/email">
        <br>
        <label for="password">password</label>
        <input type="text" id="password" required placeholder="password">
        <br>
        <button type="button" onclick="login()">login</button>
        <p id="loginMessage"></p>
    </div>

    <!-- Posts -->

    <div id="postDiv" class="hidden">
        <input type="text" placeholder="title" id="title"> <br>
        <input type="text" placeholder="category" id="category"> <br>
        <input type="text" placeholder="content" id="content"> <br>
        <button id="createPost" onclick="createPost()">post</button>
    </div>

    <!-- Comment -->

    <div id="commentDiv" class="hidden">
        <input type="text" placeholder="content" id="content"> <br>
        <button id="post" onclick="createNewComment(1)">comment</button>
    </div>

    <script>
        function toggleRegister() {
            const registerDiv = document.getElementById('registerDiv')
            registerDiv.classList.toggle('hidden')
        }
        function toggleLogin() {
            const loginDiv = document.getElementById('loginDiv')
            loginDiv.classList.toggle('hidden')
        }
        function togglePost() {
            const postDiv = document.getElementById('postDiv')
            postDiv.classList.toggle('hidden')
        }
        function toggleComment() {
            const commentDiv = document.getElementById('commentDiv')
            commentDiv.classList.toggle('hidden')
        }

        function registerUser() {

            const registerDiv = document.getElementById('registerDiv')
            const messageDiv = document.getElementById('reisterMessage')
            const registerForm = {
                username: registerDiv.querySelector('#username').value,
                age: parseInt(registerDiv.querySelector('#age').value),
                gender: registerDiv.querySelector('#gender').value,
                fname: registerDiv.querySelector('#firstName').value,
                lname: registerDiv.querySelector('#lastName').value,
                email: registerDiv.querySelector('#email').value,
                password: registerDiv.querySelector('#password').value,
            }

            fetch('/api/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(registerForm)
            })
                .then(response => response.json())
                .then(data => {
                    if (data["register"] !== "success") {
                        messageDiv.innerHTML = data["message"]
                    }
                    console.log(data)
                })
                .catch(error => console.log(error))
        }


        function login() {
            const loginDiv = document.getElementById('loginDiv')
            const message = document.getElementById('loginMessage')

            const loginCredentials = {
                user: loginDiv.querySelector('#user').value,
                password: loginDiv.querySelector('#password').value,
            }

            fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(loginCredentials)
            })
                .then(response => response.json())
                .then(data => {
                    if (data["login"] !== "success") {
                        message.innerHTML = data["message"]
                    }
                    console.log(data)
                })
                .catch(error => console.log(error))
        }

        function posts() {
            fetch('/api/posts', {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.log(error))

        }

        function onePost(postNum) {
            const requestPost = {
                id: postNum,
            }

            fetch('/api/posts', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestPost)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.log(error))
        }

        function createPost() {
            const postDiv = document.getElementById('postDiv')
            const title = postDiv.querySelector('#title').value
            const category = postDiv.querySelector('#category').value
            const content = postDiv.querySelector('#content').value

            const postData = {
                title: title,
                category: category,
                content: content
            }

            fetch('/api/newPost', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(postData)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.log(error))
        }

        function createNewComment(postNum) {
            const commentDiv = document.getElementById('commentDiv')
            const commentData = {
                content: commentDiv.querySelector('#content').value,
                post_id: postNum,
            }

            fetch('/api/newComment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(commentData)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                })
                .catch(error => {
                    console.log(error)
                })
        }

        function changeLike(type, post_id, comment_id, like) {
            const likeData = {
                post: type === "post" ? true : false,
                post_id: post_id,
                comment: type === "comment" ? true : false,
                comment_id: comment_id,
                like: like,
            }

            fetch('/api/changeLikes', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(likeData)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                })
                .catch(error => {
                    console.log(error)
                })
        }

    </script>
    <!-- <script src="../static/js/index.js"></script> -->
</body>


</html>