<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        #register,
        #login {
            background-color: rgb(206, 206, 206);
            /* display: inline-block; */
        }

        .hidden {
            display: none;
        }
    </style>
    mainpage

    <button onclick="toggleRegister()">register</button>
    <button onclick="toggleLogin()">login</button>
    <button onclick="togglePost()">posting</button>
    <button onclick="toggleComment()">commenting</button>
    <button onclick="posts()">posts</button>
    <button onclick="post1()">post1</button>
    <button onclick="changeLike('post',1,0, 1)">like</button>
    <button onclick="changeLike('post',1,0,-1)">dislike</button>
    <button onclick="changeLike('comment',1,1, 1)">likeComment</button>
    <button onclick="changeLike('comment',1,1,-1)">dislikeComment</button>
    <br>
    <br>
    <br>

    <!-- register -->
    <div id="register" class="hidden">
        <form id="registrationForm">
            <label for="username">Username</label>
            <input placeholder="Enter Username" name="username" required type="text">
            <br>

            <label for="age">Age</label>
            <input type="number" name="age" required placeholder="Age">
            <br>

            <label for="gender">gender</label>
            <input placeholder="Enter gender" name="gender" required type="text">
            <br>

            <label for="firstName">first name</label>
            <input placeholder="Enter first name" name="firstName" required type="text">
            <br>
            <label for="lastName">last name</label>
            <input placeholder="Enter last name" name="lastName" required type="text">
            <br>
            <label for="email">e-mail</label>
            <input placeholder="Enter E-mail" name="email" required type="text">
            <br>
            <label for="password">password</label>
            <input type="text" name="password" placeholder="Password" required>

            <br>
            <button type="button" onclick="registerUser()">register</button>
            <p id="registerMessage"></p>
        </form>
    </div>


    <!-- Login -->
    <div id="login" class="hidden">
        <form id="loginForm">
            <label for="user">username/email</label>
            <input type="text" name="user" required placeholder="username/email">
            <br>
            <label for="password">password</label>
            <input type="text" name="password" required placeholder="password">
            <br>
            <button type="button" onclick="login()">login</button>
            <p id="loginMessage"></p>
        </form>

    </div>

    <!-- Posts -->

    <div id="postDiv" class="hidden">
        <input type="text" placeholder="title" id="title"> <br>
        <input type="text" placeholder="category" id="category"> <br>
        <input type="text" placeholder="content" id="content"> <br>
        <button id="createPost" onclick="createPost()">post</button>
    </div>

    <!-- Comment -->

    <div id="commentDiv" class="hidden">
        <input type="text" placeholder="content" id="content"> <br>
        <button id="post" onclick="createNewComment()">comment</button>
    </div>

    <script>
        function toggleRegister() {
            const registerDiv = document.getElementById('register')
            registerDiv.classList.toggle('hidden')
        }
        function toggleLogin() {
            const loginDiv = document.getElementById('login')
            loginDiv.classList.toggle('hidden')
        }
        function togglePost() {
            const postDiv = document.getElementById('postDiv')
            postDiv.classList.toggle('hidden')
        }
        function toggleComment() {
            const commentDiv = document.getElementById('commentDiv')
            commentDiv.classList.toggle('hidden')
        }

        function registerUser() {
            const form = document.getElementById('registrationForm')
            const message = document.getElementById('registerMessage')
            if (form.checkValidity()) {
                message.innerHTML = "";
                const formData = new FormData(form);
                fetch('/api/register', {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => {
                        console.log(response)
                        return response.json()
                    }
                    )
                    .then(data => {
                        console.log(data)
                        if (data["register"] === "success") {
                            console.log('registered');
                            toggleRegister()
                        } else {
                            message.innerHTML = 'Error: ' + data["message"]
                        }
                    })
                    .catch(error => {
                        console.error('Error registering user:', error);
                    });
            } else {
                message.innerHTML = "please check your answers"
            }
        }

        function login() {
            document.addEventListener('scroll', event => {
                console.log(event)
            })
            const form = document.getElementById('loginForm')
            const message = document.getElementById('loginMessage')
            if (form.checkValidity()) {
                message.innerHTML = ""
                const formData = new FormData(form)
                fetch('/api/login', {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data["login"] === "success") {
                            console.log('logged in')
                            toggleLogin()
                        } else {
                            message.innerHTML = 'Error: ' + data["message"]
                        }
                    })
                    .catch(error => {
                        console.log('error registering user: ', error)
                    })
            } else {
                message.innerHTML = 'check the answers'
            }
        }

        function posts() {
            fetch('/api/posts', {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    if (data['loggedIn'] === false) {
                        console.log('not logged in')
                        return
                    }
                    if (data["posts"] === "success") {
                        console.log(data["data"])
                        console.log(data["loggedIn"])
                        console.log(data)
                    } else {
                        console.log("error getting posts")

                    }
                })
                .catch(error => {
                    console.log("error getting posts", error)
                })
        }

        function post1() {
            fetch('/api/posts', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ postNumber: 1 })
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                })
                .catch(error => {
                    console.log(error)
                })

        }

        function createPost() {
            const postDiv = document.getElementById('postDiv')
            const title = postDiv.querySelector('#title').value
            const category = postDiv.querySelector('#category').value
            const content = postDiv.querySelector('#content').value

            const postData = {
                title: title,
                category: category,
                content: content
            }

            fetch('/api/newPost', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(postData)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                })
                .catch(error => {
                    console.log(error)
                })
        }

        function createNewComment() {
            const commentDiv = document.getElementById('commentDiv')
            const commentData = {
                content: commentDiv.querySelector('#content').value,
                post_id: 1, // hardcoded for post id of 1
            }

            fetch('/api/newComment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(commentData)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                })
                .catch(error => {
                    console.log(error)
                })
        }

        function changeLike(type, post_id, comment_id, like) {
            const likeData = {
                post: type === "post" ? true : false,
                post_id: post_id,
                comment: type === "comment" ? true : false,
                comment_id: comment_id,
                like: like,
            }

            console.log(likeData)
            fetch('/api/changeLikes', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(likeData)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                })
                .catch(error => {
                    console.log(error)
                })
        }

    </script>
    <!-- <script src="../static/js/index.js"></script> -->
</body>


</html>